.container {
  background-color: #eed5c2;
  width: 100%;
  padding: 20px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 10px 10px -10px;
}

.MainTitle a {
  font-family: "Sigmar", cursive;
  color: #eda4bd;
  font-size: 2rem;
  text-decoration: none;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #fff;
}

.username {
  color: #7c606b;
  background-color: rgb(187, 233, 255, 0.8);
  font-weight: 600;
  font-size: 1rem;
  padding: 0 4px;
}

@media (min-width: 650px) and (max-width: 1024px) {
  .container {
    gap: 8px;
  }
}

@media (max-width: 1024px) {
  .container {
    padding-bottom: 23px;
  }
  .username {
    order: 6;
  }
  .profileImage {
    order: 5;
  }
}

@media (max-width: 649px) {
  .container {
    gap: 5px;
  }
}

@media (max-width: 550px) {
  .MainTitle a {
    font-size: 1.75rem;
  }
  .username {
    margin-top: 5px;
  }
}

@media (max-width: 350px) {
  .MainTitle a {
    font-size: 1.5rem;
  }
  .username span {
    display: none;
  }
  .username {
    font-size: 0.8rem;
  }
}
