.actionWrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
  margin: 0.5rem 0;
}

.fullWidth {
  width: 100%;
}

.marginTopBottom0 {
  margin-top: 0;
  margin-bottom: 0;
}

.marginTopBottom1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.marginTopBottom3 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.marginAuto {
  margin: auto;
}

.preventHighlightSelect {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (max-width: 767px) {
  .actionWrapper {
    gap: 0.82rem;
    justify-content: flex-start;
  }
}

@media (max-width: 350px) {
  .actionWrapper {
    gap: 0.5rem;
  }
}
