.actionWrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
  margin: 0.5rem 0;
}

.actionButtonPrimary {
  width: fit-content;
  background-color: #ccbfff;
  color: #fff;
  border-radius: 5px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 3px 8px 0px;
  border: 2px solid #fff;
  padding: 10px 20px;
  margin: 5px 0;
  font-size: 1.1rem;
  font-weight: 700;
  transition: all 150ms ease;
  display: block;
}

.actionButtonPrimary:hover {
  background-color: #dcd4ff;
}
.actionButtonPrimary[disabled] {
  background-color: #dcd4ff;
  cursor: url(https://cur.cursors-4u.net/nature/nat-10/nat988.cur), auto;
  pointer-events: none;
}

.actionButtonPrimary svg {
  vertical-align: middle;
}

.profileImgThumbnailWrapper {
  width: 49px;
  height: 49px;
  border-radius: 999px;
  border: 2px solid #fff;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  display: block;
  transition: all 100ms ease-in-out;
}

.profileImgThumbnailWrapper:hover {
  border-color: #8cb4fe;
}
.profileImgThumbnail {
  border-radius: 999px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.MainTitle {
  font-family: "Sigmar", cursive;
  color: #eda4bd;
  font-size: 3.6rem;
  padding: 10px;
  line-height: 4rem;
  margin-bottom: 1.2rem;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #fff;
}

.SecondaryTitle {
  font-family: "Noto Sans", serif;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #7c606b;
  color: #fff;
  font-size: 2rem;
  font-weight: 700;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

.fullWidth {
  width: 100%;
}

.marginTopBottom0 {
  margin-top: 0;
  margin-bottom: 0;
}

.marginTopBottom1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.marginTopBottom2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.marginTopBottom3 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.marginAuto {
  margin: auto;
}

.maxWidth1200 {
  max-width: 1200px;
}

.preventHighlightSelect {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (max-width: 767px) {
  .actionWrapper {
    gap: 0.82rem;
    justify-content: flex-start;
  }
  .actionButtonPrimary {
    padding: 8px 12px;
  }
  .actionButtonPrimary {
    font-size: 1rem;
  }
}

@media (max-width: 550px) {
  .MainTitle {
    font-size: 3rem;
  }
  .SecondaryTitle {
    font-size: 1.6rem;
  }
}

@media (max-width: 350px) {
  .actionWrapper {
    gap: 0.5rem;
  }
  .actionButtonPrimary {
    font-size: 0.85rem;
  }
  .profileImgThumbnailWrapper {
    width: 45px;
    height: 45px;
  }
}
