/* css categories : 
 - containers
 - forms
 - actions
 - images
 - titles and texts
 - spacing and decoration
*/

/*containers */

.AuthContainer {
  text-align: center;
  padding: 3.2% 0 5%;
  margin: 0 auto;
  display: flex;
  max-width: 100vw;
  flex-direction: column;
  align-items: center;
}

.ErrorContainer {
  text-align: center;
  padding: 5% 7%;
  margin: 0 auto;
  display: flex;
  max-width: 100vw;
  flex-direction: column;
  align-items: center;
}

.cardPrimary {
  width: min(400px, 88%);
  margin: 5px 10px;
  background: #eed5c2;
  padding: 20px 30px;
  border-radius: 5px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.SearchPageContainter {
  padding: 3.5rem 1.8rem 4rem;
}
.searchResultsWrapper {
  width: min(600px, 100%);
  margin: 1rem auto 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.7rem;
}

.userCard {
  width: 100%;
  background-color: rgb(187, 233, 255);
  border: 3px solid #fff;
  padding: 2rem;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  border-radius: 5px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  text-decoration: none;
  transition: all 50ms ease-in-out;
}

.userCard:hover {
  border-color: #ccbfff;
}
.navContainer {
  background-color: #eed5c2;
  width: 100%;
  padding: 20px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 10px 10px -10px;
}

.profileContainerContent {
  padding: 2rem 1.7rem 6.5rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 1.5rem;
}

.postingSectionWrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
}
.postingFormWrraper {
  background-color: #ccbfff;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border: 3px solid #fff;
  width: 100%;
  padding: 1.2rem 2.2rem 1.9rem;
  border-radius: 5px;
}
.postBlockWrraper {
  background-color: rgb(187, 233, 255);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border: 3px solid #fff;
  width: 100%;
  padding: 2rem 2rem 1.8rem;
  border-radius: 5px;
}
.actionWrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
  margin: 0.5rem 0;
}

.postFormActionWrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
  width: 100%;
}

.modalCard {
  position: fixed;
  width: min(400px, 88%);
  background: #eed5c2;
  padding: 1.6rem 2rem;
  border-radius: 5px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  transform: translate(50%, 50%);
  bottom: 50%;
  right: 50%;
  z-index: 3;
}

.modalOverlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgb(0, 0, 0);
  opacity: 0.6;
  z-index: 2;
  position: fixed;
  transition: all 100ms ease;
}

.profileBlockWrapper {
  background-color: #eed5c2;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border: 3px solid #fff;
  width: 28%;
  padding: 20px;
  border-radius: 5px;
}

.profileDetailsWrapper {
  background-color: #eda4bd;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 5px;
  border: 3px solid #fff;
  width: 100%;
  padding: 1rem 1.25rem;
  margin: 20px 0 0;
  display: flex;
  flex-direction: column;
}
.postInfoLineWrapper {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
  margin-bottom: 0.5rem;
  flex-wrap: wrap;
}

.postWrapper {
  margin: 1.8rem 0;
  padding: 0 0.7rem;
}

.userInfo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.heroBanner {
  width: 100%;
  height: 350px;
  background-color: #8cb4fe;
  border: 5px solid #eda4bd;
  padding: 2rem;
}
.hpPostsWrapper {
  width: min(1200px, 99%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 3rem 2.5rem 7rem;
}

.likeWrapper {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 0.5rem 0.6rem;
  font-size: 1rem;
  flex: 1;
}

.profileImageModal {
  height: 100vh;
  height: 100svh;
  width: 100vw;
  z-index: 2;
  background-color: #7c606b;
  position: fixed;
}

.profileImageElement {
  max-height: 96vh;
  max-height: 96svh;
  max-width: 96vw;
  border: 3px solid #eed5c2;
  border-radius: 10px;
  object-fit: contain;
  position: absolute;
  bottom: 50%;
  right: 50%;
  transform: translate(50%, 50%);
}
.footer {
  background-color: #eed5c2;
  width: 100%;
  padding: 1rem 0.2rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 10px 10px 10px;
  text-align: center;
  margin-top: auto;
  color: #7c606b;
  font-family: "Cutive Mono", monospace;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 1.6rem;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.9px;
}

.footer a {
  font-family: "Sigmar", cursive;
  font-size: 11px;
  color: #7c606b;
  letter-spacing: 0.5px;
  transition: all 150ms ease;
  text-decoration: none;
  background-color: rgb(187, 233, 255, 0.8);
  padding: 0 4px;
  font-weight: 400;
  letter-spacing: 0.5px;
}
.footer a:hover {
  text-decoration: underline;
}

@media (min-width: 650px) and (max-width: 1024px) {
  .profileBlockWrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  .profileDetailsWrapper {
    width: 48%;
    margin-top: 0;
  }
  .navContainer {
    gap: 8px;
  }
  .hpPostsWrapper {
    gap: 1.5rem;
    padding: 3.2rem 2.5rem 5rem;
  }
}

@media (max-width: 1024px) {
  .profileContainerContent {
    flex-direction: column;
  }
  .profileBlockWrapper,
  .postingSectionWrapper {
    width: 100%;
  }
  .navContainer {
    padding-bottom: 23px;
  }
}

@media (max-width: 767px) {
  .actionWrapper {
    gap: 0.82rem;
    justify-content: flex-start;
  }
  .modalCard {
    transform: none;
    right: 0;
    top: 0;
    left: 0;
    bottom: unset;
    width: 100vw;
    height: 100vh;
    height: 100svh;
    overflow-y: scroll;
    padding: 2rem 2rem;
  }
  .modalOverlay {
    display: none;
  }
}

@media (max-width: 649px) {
  .AuthContainer {
    padding-bottom: 10%;
  }
  .navContainer {
    gap: 5px;
  }
  .profileContainerContent {
    padding: 2rem 1.1rem 4.5rem;
  }

  .hpPostsWrapper {
    padding: 3.2rem 1.1rem 5rem;
  }
  .postingFormWrraper {
    padding: 0.7rem 1.8rem 1.5rem;
  }
  .footer {
    font-size: 9px;
    padding: 0.6rem 0.2rem;
  }
  .footer a {
    font-size: 6.5px;
  }
}

@media (max-width: 550px) {
  .postBlockWrraper {
    padding: 1.75rem 1.5rem 1.4rem;
  }
  .postInfoLineWrapper {
    flex-direction: column;
    align-items: flex-start;
  }
  .userCard {
    padding: 2rem 1.15rem;
    gap: 0.8rem;
  }

  .postWrapper {
    padding: 0 0.5rem;
  }
}

@media (max-width: 350px) {
  .footer {
    font-size: 8px;
  }
  .footer a {
    font-size: 5px;
  }
  .actionWrapper {
    gap: 0.5rem;
  }
}

/* forms */

.inputGroup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  width: 100%;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
  margin-top: 1rem;
}

.inputLabel {
  font-size: 1rem;
  color: #7c606b;
  font-weight: 600;
}

.input {
  width: 100%;
  display: block;
  padding: 12px 10px;
  border-radius: 5px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border: none;
  font-family: "Roboto", sans-serif;
  font-size: 0.9rem;
  font-weight: 400;
}

.postFormError {
  color: #ff5c5c;
  font-size: 0.9rem;
  font-weight: 500;
}

.formError {
  background: #ff5c5c;
  color: #fff;
  font-size: 0.9rem;
  font-weight: 500;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 5px;
  border: none;
  padding: 0.6rem 0.5rem;
  width: 100%;
  line-height: 1.5rem;
  text-align: center;
}

.formMessage {
  background: #74c365;
  color: #fff;
  font-size: 0.9rem;
  font-weight: 500;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 5px;
  border: none;
  padding: 0.6rem 0.5rem;
  width: 100%;
  line-height: 1.5rem;
  text-align: center;
}

.textArea {
  width: 100%;
  height: 12rem;
  border: none;
  border-radius: 5px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 0.9rem 1rem;
  line-height: 1.3rem;
  font-family: "Cutive Mono", monospace;
  letter-spacing: -0.9px;
  resize: none;
  font-size: 1rem;
  font-weight: 500px;
}
.textAreaSmall {
  width: 100%;
  height: 5rem;
  border: none;
  border-radius: 5px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 8px 10px;
  line-height: 1.3rem;
  font-weight: 500px;
  resize: none;
  font-family: "Roboto", sans-serif;
  font-size: 0.9rem;
}

.searchInput {
  width: min(600px, 100%);
  font-family: "Cutive Mono", monospace;
  display: block;
  padding: 20px 15px;
  border-radius: 5px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border: none;
  font-size: 1rem;
  letter-spacing: -0.5px;
  font-weight: 500;
  margin: 1.5rem auto 2.5rem;
}
/* actions */

.submitButton {
  width: 100%;
  background-color: #eda4bd;
  color: #fff;
  border-radius: 5px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 3px 8px 0px;
  border: 2px solid #fff;
  padding: 10px;
  margin: 15px 0;
  font-size: 1.1rem;
  font-weight: 700;
  transition: all 150ms ease;
  position: relative;
}

.submitButton:hover,
.postSubmitbutton:hover {
  background-color: #fbbcd1;
}
.submitButton[disabled],
.postSubmitbutton[disabled] {
  background-color: #f6d2de;
  cursor: url(https://cur.cursors-4u.net/nature/nat-10/nat988.cur), auto !important;
  pointer-events: none;
}

.postSubmitbutton {
  width: fit-content;
  background-color: #eda4bd;
  color: #fff;
  border-radius: 5px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 3px 8px 0px;
  border: 2px solid #fff;
  padding: 10px 15px;
  margin: 0;
  font-size: 1.1rem;
  font-weight: 700;
  transition: all 150ms ease;
  align-self: flex-end;
}

.actionButtonPrimary {
  width: fit-content;
  background-color: #ccbfff;
  color: #fff;
  border-radius: 5px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 3px 8px 0px;
  border: 2px solid #fff;
  padding: 10px 20px;
  margin: 5px 0;
  font-size: 1.1rem;
  font-weight: 700;
  transition: all 150ms ease;
  display: block;
}

.actionButtonPrimary:hover,
.selectImageButton:hover {
  background-color: #dcd4ff;
}
.actionButtonPrimary[disabled],
.selectImageButton[disabled] {
  background-color: #dcd4ff;
  cursor: url(https://cur.cursors-4u.net/nature/nat-10/nat988.cur), auto;
  pointer-events: none;
}

.selectImageButton {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 4px;
  align-items: center;
  background-color: #ccbfff;
  color: #fff;
  border-radius: 5px;
  box-shadow: rgba(226, 171, 171, 0.2) 0px 3px 8px 0px;
  border: 2px solid #fff;
  padding: 10px;
  margin: 10px 0;
  font-size: 1.1rem;
  font-weight: 700;
  cursor: url(https://cur.cursors-4u.net/nature/nat-10/nat997.cur), auto !important;
  transition: all 150ms ease;
}

.actionButtonPrimary svg {
  vertical-align: middle;
}

.exitBtn {
  position: absolute;
  right: 1rem;
  top: 1rem;
  padding: 0;
  background-color: transparent;
  border: none;
  font-size: 1.5rem;
  font-weight: 700;
}

.exitBtn svg {
  display: block;
}

.exitBtnBackground {
  background-color: rgb(255, 255, 255, 0.8);
  padding: 11px;
  border-radius: 999px;
  z-index: 1;
}

.oval {
  position: absolute;
  top: -12px;
  left: -12px;
}
.ovalProfileImage {
  display: block;
  margin: auto;
  height: 100%;
  width: 100%;
  min-height: 22rem;
}

.ovalBtn {
  position: absolute;
  right: 50%;
  bottom: 50%;
  transform: translate(50%, 50%);
}

.ovalProfileImage svg {
  margin: auto;
  display: block;
}

.heartsPageLoader {
  margin: 12% auto;
  justify-content: center;
}

.settingsActions {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3px;
}
.deleteAccountBtn {
  width: 100%;
  margin-bottom: 15px;
  background-color: #ff5c5c;
  color: #fff;
  border-radius: 5px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 3px 8px 0px;
  border: 2px solid #fff;
  padding: 10px;
  font-size: 1.1rem;
  font-weight: 700;
  transition: all 150ms ease;
  position: relative;
}

.deleteAccountBtn:hover,
.deleteAccountBtn[disabled] {
  background-color: #ff8585;
}

.showMoreBtn {
  padding-top: 1rem;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  text-decoration: underline;
  color: #eda4bd;
  font-weight: 700;
  cursor: url(https://cur.cursors-4u.net/nature/nat-10/nat997.cur), auto !important;
}

@media (max-width: 767px) {
  .actionButtonPrimary {
    padding: 8px 12px;
  }
  .submitButton,
  .deleteAccountBtn,
  .selectImageButton,
  .actionButtonPrimary,
  .postSubmitbutton {
    font-size: 1rem;
  }
}

@media (max-width: 350px) {
  .footer a {
    font-size: 5px;
  }
  .actionButtonPrimary {
    font-size: 0.85rem;
  }
}
/* images */

.profileImgThumbnailWrapper {
  width: 49px;
  height: 49px;
  border-radius: 999px;
  border: 2px solid #fff;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  display: block;
  transition: all 100ms ease-in-out;
}
.profileImgLargerThumbnailWrapper {
  width: 75px;
  height: 75px;
  border-radius: 999px;
  border: 2px solid #fff;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.profileImgThumbnailWrapper:hover {
  border-color: #8cb4fe;
}
.profileImgThumbnail {
  border-radius: 999px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profileImageWrapper {
  width: 100%;
  border-radius: 5px;
  border: 3px solid #fff;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  cursor: url(https://cur.cursors-4u.net/nature/nat-10/nat997.cur), auto;
}
.profileImage {
  border-radius: 5px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profileImgModalWrapper {
  width: 124px;
  height: 124px;
  border-radius: 999px;
  border: 2px solid #fff;
  position: relative;
  margin: 0 auto;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.profileImgModal {
  border-radius: 999px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (min-width: 650px) and (max-width: 1024px) {
  .profileImageWrapper {
    width: 48%;
  }
}

@media (max-width: 550px) {
  .profileImgLargerThumbnailWrapper {
    width: 55px;
    height: 55px;
  }
}

@media (max-width: 350px) {
  .profileImgThumbnailWrapper {
    width: 45px;
    height: 45px;
  }
  .profileImgLargerThumbnailWrapper {
    width: 45px;
    height: 45px;
  }
}

/* Titles and Texts */

.MainTitle {
  font-family: "Sigmar", cursive;
  color: #eda4bd;
  font-size: 3.6rem;
  padding: 10px;
  line-height: 4rem;
  margin-bottom: 1.2rem;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #fff;
}

.SecondaryTitle {
  color: #fff;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #7c606b;
  font-size: 2rem;
  font-weight: 700;
  padding: 10px;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
}

.SearchTitle {
  color: #ccbfff;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #7c606b;
  font-size: 2.5rem;
  font-weight: 700;
  padding: 10px;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
}

.detailProfile {
  font-family: "Sigmar", cursive;
  color: #fff;
  font-weight: 500;
  font-size: 0.9rem;
  margin: 5px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  word-break: break-word;
}
.detailLabel {
  text-decoration: underline;
}
.usernameResult {
  font-family: "Sigmar", cursive;
  color: #eda4bd;
  font-weight: 500;
  font-size: 1.2rem;
  word-break: break-word;
}

.linkText {
  margin: 17px 0 8px;
  font-size: 1rem;
  color: #7c606b;
  font-weight: 500;
}

.linkText a {
  color: #7c606b;
  text-decoration: underline;
  font-weight: 400;
}

.MainTitleNav a {
  font-family: "Sigmar", cursive;
  color: #eda4bd;
  font-size: 2rem;
  text-decoration: none;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #fff;
}

.usernameNav {
  color: #7c606b;
  background-color: rgb(187, 233, 255, 0.8);
  font-weight: 600;
  font-size: 1rem;
  padding: 0 4px;
}
.usernamePost {
  color: #fff;
  background-color: #eda4bd;
  font-weight: 600;
  font-size: 1rem;
  position: relative;
  padding: 1px 5px;
  width: fit-content;
  display: block;
  text-decoration: none;
}

.dateAndTime {
  text-align: right;
  font-weight: 600;
  color: #fff;
  text-decoration: underline;
  font-size: 1rem;
}

.postContent {
  color: #7c606b;
  font-family: "Cutive Mono", monospace;
  font-size: 1rem;
  white-space: pre-wrap;
  line-height: 1.4rem;
  font-weight: 400;
  letter-spacing: -0.9px;
  max-height: 11rem;
  overflow: hidden;
}
.postContent div {
  max-height: max-content;
}

.maxSize {
  opacity: 0.8;
  font-size: 0.8rem;
}

.welcomeText {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 12rem;
  gap: 1.2rem;
  font-family: monospace;
  font-weight: 500;
}

.welcomeText span {
  opacity: 0;
  transition: opacity 500ms ease;
}

.errorPageMessage {
  margin: 2rem auto;
  font-size: 1.2rem;
  font-family: "Cutive", serif;
  color: #7c606b;
  line-height: 2.5rem;
  font-weight: 400;
  letter-spacing: 1px;
}

.errorPageMessage a {
  color: #8cb4fe;
}

.titleHpText {
  margin: 2.5rem auto 1rem 0;
  font-size: 2.3rem;
  font-family: "Cutive Mono", monospace;
  letter-spacing: -0.5px;
  color: #7c606b;
  line-height: 2.4rem;
  font-weight: 400;
}

.titleHpText span {
  display: none;
}
.cursor {
  display: inline-block;
  width: 2px;
  height: 2.3rem;
  vertical-align: text-top;
  background-color: #7c606b;
  margin-left: 8px;
  animation: blink-animation 1s steps(5, start) infinite;
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

@media (max-width: 1024px) {
  .profileImageNav {
    order: 5;
  }
  .usernameNav {
    order: 6;
  }
  .welcomeText {
    font-size: 8rem;
  }
  .heroBanner {
    height: 300px;
  }
}

@media (max-width: 767px) {
  .welcomeText {
    font-size: 5.5rem;
    gap: 1rem;
  }
  .heroBanner {
    height: 250px;
  }
  .titleHpText {
    font-size: 1.8rem;
    margin: 0 auto 1rem 0;
    line-height: 1.9rem;
  }
  .cursor {
    height: 1.8rem;
  }
  .errorPageMessage {
    margin: 1.2rem auto 2rem;
    font-size: 0.9rem;
    line-height: 1.5rem;
  }
}

@media (max-width: 550px) {
  .MainTitle {
    font-size: 3rem;
  }
  .SecondaryTitle {
    font-size: 1.6rem;
  }
  .MainTitleNav a {
    font-size: 1.75rem;
  }
  .welcomeText {
    font-size: 3.3rem;
    gap: 0.7rem;
  }
  .heroBanner {
    height: 180px;
  }
  .titleHpText {
    font-size: 1.15rem;
    margin: 0 auto 0 0;
    line-height: 1.15rem;
  }
  .cursor {
    height: 1.1rem;
  }
  .dateAndTime {
    padding: 0.8rem 0.4rem 0;
    font-size: 0.9rem;
  }
  .usernamePost {
    font-size: 0.9rem;
  }
  .usernameNav {
    margin-top: 5px;
  }
  .usernameResult {
    font-size: 0.9rem;
  }
  .SearchTitle {
    font-size: 2.1rem;
  }
  .postContent {
    font-size: 1rem;
  }
  .detailProfile {
    font-size: 0.8rem;
  }
}
@media (max-width: 350px) {
  .usernameNav span {
    display: none;
  }
  .usernameNav {
    font-size: 0.8rem;
  }
  .MainTitleNav a {
    font-size: 1.5rem;
  }
  .usernamePost {
    font-size: 0.8rem;
  }
  .titleHpText {
    font-size: 1rem;
  }
  .usernameResult {
    font-size: 0.7rem;
  }
}
/* spacing and decoration*/

.marginTopBottom1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.marginTopBottom2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.marginTopBottom3 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.marginAuto {
  margin: auto;
}

.maxWidth1200 {
  max-width: 1200px;
}
