/*containers */

.AuthContainer {
  text-align: center;
  padding: 3.2% 0 5%;
  margin: 0 auto;
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cardPrimary {
  width: min(400px, 88%);
  margin: 5px 10px;
  background: #eed5c2;
  padding: 20px 30px;
  border-radius: 5px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.SearchPageContainter {
  padding: 3.5rem 1.5rem;
}
.searchResultsWrapper {
  width: min(600px, 100%);
  margin: 1rem auto 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.7rem;
}

.userCard {
  width: 100%;
  background-color: rgb(187, 233, 255);
  border: 3px solid #fff;
  padding: 2rem;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  border-radius: 5px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  text-decoration: none;
}
.navContainer {
  background-color: #eed5c2;
  width: 100%;
  padding: 10px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;

  flex-wrap: wrap;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 10px 10px -10px;
}

.profileContainerContent {
  padding: 2rem 1.7rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 1.5rem;
}

.postingSectionWrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
}
.postingFormWrraper {
  background-color: #ccbfff;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border: 3px solid #fff;
  width: 100%;
  padding: 1.2rem 2.2rem 1.8rem;
  border-radius: 5px;
}
.postBlockWrraper {
  background-color: rgb(187, 233, 255);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border: 3px solid #fff;
  width: 100%;
  padding: 1.8rem 2rem 1.4rem;
  border-radius: 5px;
}
.actionWrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.modalCard {
  position: fixed;
  width: min(400px, 88%);
  background: #eed5c2;
  padding: 20px 30px;
  border-radius: 5px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  transform: translate(50%, 50%);
  bottom: 50%;
  right: 50%;
  z-index: 3;
}

.modalOverlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgb(0, 0, 0, 0.5);
  z-index: 2;
  position: fixed;
}

.profileBlockWrapper {
  background-color: #eed5c2;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border: 3px solid #fff;
  width: 28%;
  padding: 20px;
  border-radius: 5px;
}

.profileDetailsWrapper {
  background-color: #eda4bd;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 5px;
  border: 3px solid #fff;
  width: 100%;
  padding: 15px 20px;
  margin: 20px 0 0;
  display: flex;
  flex-direction: column;
}
.postInfoLineWrapper {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 0.5rem;
  flex-wrap: wrap;
}

.heroBanner {
  width: 100%;
  height: 350px;
  background-color: #8cb4fe;
  border: 5px solid #eda4bd;
  padding: 2rem;
}
.hpPostsWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 3rem 1.5rem;
}

.footer {
  background-color: #eed5c2;
  width: 100%;
  padding: 10px 25px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 10px 10px 10px;
}

@media (max-width: 550px) {
  .navContainer {
    gap: 5px;
  }
  .profileContainerContent {
    padding: 1.8rem 1.1rem;
  }
  .modalCard {
    transform: none;
    bottom: 0;
    right: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
  }
}
@media (min-width: 650px) and (max-width: 1024px) {
  .profileBlockWrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  .profileDetailsWrapper {
    width: 48%;
    margin-top: 0;
  }
}

@media (max-width: 767px) {
  .actionWrapper {
    gap: 15px;
    margin: 0 0 10px;
    justify-content: flex-start;
  }
}

@media (max-width: 1024px) {
  .profileContainerContent {
    flex-direction: column;
  }
  .profileBlockWrapper,
  .postingSectionWrapper {
    width: 100%;
  }
}

/* forms */

.inputGroup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  width: 100%;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
  margin-top: 1rem;
}

.inputLabel {
  font-size: 1rem;
  color: #7c606b;
  font-weight: 600;
}

.input {
  width: 100%;
  display: block;
  padding: 12px 10px;
  border-radius: 5px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border: none;

  font-size: 0.9rem;
  font-weight: 500;
}

.formError {
  background: #ff5c5c;
  color: #fff;
  font-size: 0.9rem;
  font-weight: 500;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 5px;
  border: none;
  padding: 12px 10px;
  width: 100%;

  line-height: 1.5rem;
  text-align: center;
}

.formMessage {
  background: #74c365;
  color: #fff;
  font-size: 0.9rem;
  font-weight: 500;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 5px;
  border: none;
  padding: 12px 10px;
  width: 100%;

  line-height: 1.5rem;
  text-align: center;
}

.textArea {
  width: 100%;
  height: 10rem;
  border: none;
  border-radius: 5px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 0.7rem 1.1rem;
  line-height: 1.3rem;
  resize: none;
}
.textAreaSmall {
  width: 100%;
  height: 5rem;
  border: none;
  border-radius: 5px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 8px 10px;
  line-height: 1.3rem;
  resize: none;
}

.searchInput {
  width: min(600px, 100%);
  font-family: monospace;
  display: block;
  padding: 20px 15px;
  border-radius: 5px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border: none;
  font-size: 1rem;
  font-weight: 500;
  margin: 1.5rem auto 2.5rem;
}
/* actions */

.submitButton {
  width: 100%;
  background-color: #eda4bd;
  color: #fff;
  border-radius: 5px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 3px 8px 0px;
  border: 2px solid #fff;
  padding: 10px;
  margin: 15px 0;
  font-size: 1.1rem;
  font-weight: 700;
  cursor: pointer;
  transition: all 150ms ease;
}

.submitButton:hover,
.postSubmitbutton:hover {
  background-color: #fbbcd1;
}
.submitButton[disabled],
.postSubmitbutton[disabled] {
  background-color: #f6d2de;
  cursor: default;
  pointer-events: none;
}

.postSubmitbutton {
  width: fit-content;
  background-color: #eda4bd;
  color: #fff;
  border-radius: 5px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 3px 8px 0px;
  border: 2px solid #fff;
  padding: 10px 15px;
  margin: 0;
  font-size: 1.1rem;
  font-weight: 700;
  cursor: pointer;
  transition: all 150ms ease;
  align-self: flex-end;
}

.actionButtonPrimary {
  width: fit-content;
  background-color: #ccbfff;
  color: #fff;
  border-radius: 5px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 3px 8px 0px;
  border: 2px solid #fff;
  padding: 10px 20px;
  margin: 15px 0 15px;
  font-size: 1.1rem;
  font-weight: 700;
  cursor: pointer;
  transition: all 150ms ease;
  display: block;
}

.actionButtonPrimary:hover,
.selectImageButton:hover {
  background-color: #dcd4ff;
}
.actionButtonPrimary[disabled],
.selectImageButton[disabled] {
  background-color: #dcd4ff;
  cursor: default;
  pointer-events: none;
}

.selectImageButton {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 4px;
  align-items: center;
  background-color: #ccbfff;
  color: #fff;
  border-radius: 5px;
  box-shadow: rgba(226, 171, 171, 0.2) 0px 3px 8px 0px;
  border: 2px solid #fff;
  padding: 10px;
  margin: 10px 0;
  font-size: 1.1rem;
  font-weight: 700;
  cursor: pointer;
  transition: all 150ms ease;
}

.actionButtonPrimary svg {
  vertical-align: middle;
}

.exitBtn {
  position: absolute;
  right: 8px;
  top: 8px;
  background-color: transparent;
  border: none;
  font-size: 1.5rem;
  font-weight: 700;
  cursor: pointer;
}

.oval {
  position: absolute;
  top: -12px;
  left: -12px;
}
.ovalProfileImage {
  display: block;
  margin: 29% auto;
  height: 100%;
  width: 100%;
}

.ovalProfileImage svg {
  margin: auto;
  display: block;
}

.heartsPageLoader {
  margin: 12% auto;
  justify-content: center;
}

.settingsActions {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3px;
}
.deleteAccountBtn {
  width: 100%;
  margin-bottom: 15px;
  background-color: #ff5c5c;
  color: #fff;
  border-radius: 5px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 3px 8px 0px;
  border: 2px solid #fff;
  padding: 10px;
  font-size: 1.1rem;
  font-weight: 700;
  cursor: pointer;
  transition: all 150ms ease;
}

.deleteAccountBtn:hover,
.deleteAccountBtn[disabled] {
  background-color: #ff8585;
}
/* images */

.profileImgThumbnailWrapper {
  width: 49px;
  height: 49px;
  border-radius: 999px;
  border: 2px solid #fff;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.profileImgLargerThumbnailWrapper {
  width: 75px;
  height: 75px;
  border-radius: 999px;
  border: 2px solid #fff;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.profileImgThumbnail {
  border-radius: 999px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profileImageWrapper {
  width: 100%;

  border-radius: 5px;
  border: 3px solid #fff;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  cursor: pointer;
}
.profileImage {
  border-radius: 5px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* display: block; */
  /* transition: opacity 150ms ease; */
}

.profileImgModalWrapper {
  width: 124px;
  height: 124px;
  border-radius: 999px;
  border: 2px solid #fff;
  position: relative;
  margin: 0 auto;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.profileImgModal {
  border-radius: 999px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (min-width: 650px) and (max-width: 1024px) {
  .profileImageWrapper {
    width: 48%;
  }
}

/* Titles and Texts */

.MainTitle {
  font-family: "Sigmar", cursive;
  color: #eda4bd;
  font-size: 3.6rem;
  padding: 10px;
  line-height: 4rem;
  margin-bottom: 1.2rem;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #fff;
}

.SecondaryTitle {
  color: #fff;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #7c606b;
  font-size: 2rem;
  font-weight: 700;
  padding: 10px;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
}

.SearchTitle {
  color: #ccbfff;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #7c606b;
  font-size: 2.5rem;
  font-weight: 700;
  padding: 10px;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
}

.detailProfile {
  font-family: "Sigmar", cursive;
  color: #fff;
  font-weight: 500;
  font-size: 0.9rem;
  margin: 5px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  word-break: break-word;
}
.detailLabel {
  text-decoration: underline;
}
.usernameResult {
  font-family: "Sigmar", cursive;
  color: #eda4bd;
  font-weight: 500;
  font-size: 1.2rem;
  word-break: break-word;
}

.linkText {
  margin: 17px 0 8px;
  font-size: 1rem;
  color: #7c606b;
  font-weight: 500;
}

.linkText a {
  color: #7c606b;
  text-decoration: underline;
  font-weight: 400;
}

.MainTitleNav a {
  font-family: "Sigmar", cursive;
  color: #eda4bd;
  font-size: 2rem;
  text-decoration: none;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #fff;
}

.usernameNav {
  color: #7c606b;
  background-color: rgb(187, 233, 255, 0.8);
  font-weight: 600;
  font-size: 1rem;
  position: relative;
  right: -6px;
  padding: 0 4px;
}
.usernamePost {
  color: #fff;
  background-color: #eda4bd;
  font-weight: 600;
  font-size: 1rem;
  position: relative;
  padding: 1px 5px;
  width: fit-content;
  display: block;
  text-decoration: none;
}

.dateAndTime {
  flex: 1;
  text-align: right;
  font-weight: 600;
  color: #fff;
}

.postContent {
  color: #7c606b;
  font-family: monospace;
  padding: 1.5rem 0.7rem;
  font-size: 0.9rem;
  white-space: pre-line;
  line-height: 1.5rem;
}
.maxSize {
  opacity: 0.8;
  font-size: 0.8rem;
}

.welcomeText {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 12rem;
  gap: 1.2rem;
  font-family: monospace;
  font-weight: 500;
}

.welcomeText span {
  opacity: 0;
  transition: opacity 500ms ease;
}

@media (max-width: 550px) {
  .MainTitle {
    font-size: 3rem;
  }
  .SecondaryTitle {
    font-size: 1.6rem;
  }
  .MainTitleNav a {
    font-size: 1.6rem;
  }
}

@media (max-width: 1024px) {
  .usernameNav {
    order: 6;
  }
}

/* spacing */

.marginTopBottom1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.marginTopBottom2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.marginTopBottom3 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.maxWidth1200 {
  max-width: 1200px;
}
