.container {
  text-align: center;
  padding: 3.2% 0 5%;
  margin: 0 auto;
  display: flex;
  max-width: 100vw;
  flex-direction: column;
  align-items: center;
}

.card {
  width: min(400px, 88%);
  margin: 5px 10px;
  background: #eed5c2;
  padding: 20px 30px;
  border-radius: 5px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
  margin-top: 1rem;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  width: 100%;
}

.input {
  width: 100%;
  display: block;
  padding: 12px 10px;
  border-radius: 5px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border: none;
  font-family: "Roboto", sans-serif;
  font-size: 0.9rem;
  font-weight: 400;
}

.inputLabel {
  font-size: 1rem;
  color: #7c606b;
  font-weight: 600;
}

.error {
  background: #ff5c5c;
  color: #fff;
  font-size: 0.9rem;
  font-weight: 500;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 5px;
  border: none;
  padding: 0.6rem 0.5rem;
  width: 100%;
  line-height: 1.5rem;
  text-align: center;
}

.message {
  background: #74c365;
  color: #fff;
  font-size: 0.9rem;
  font-weight: 500;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 5px;
  border: none;
  padding: 0.6rem 0.5rem;
  width: 100%;
  line-height: 1.5rem;
  text-align: center;
}

.submitButton {
  width: 100%;
  background-color: #eda4bd;
  color: #fff;
  border-radius: 5px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 3px 8px 0px;
  border: 2px solid #fff;
  padding: 10px;
  margin: 15px 0;
  font-size: 1.1rem;
  font-weight: 700;
  transition: all 150ms ease;
  position: relative;
}

.submitButton:hover {
  background-color: #fbbcd1;
}
.submitButton[disabled] {
  background-color: #f6d2de;
  cursor: url(https://cur.cursors-4u.net/nature/nat-10/nat988.cur), auto !important;
  pointer-events: none;
}

.linkText {
  margin: 17px 0 8px;
  font-size: 1rem;
  color: #7c606b;
  font-weight: 500;
}

.linkText a {
  color: #7c606b;
  text-decoration: underline;
  font-weight: 400;
}

@media (max-width: 767px) {
  .submitButton {
    font-size: 1rem;
  }
}

@media (max-width: 649px) {
  .AuthContainer {
    padding-bottom: 10%;
  }
}

@media (max-width: 350px) {
  .submitButton {
    font-size: 0.85rem;
  }
}
