html {
  overflow-x: hidden;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
body {
  margin: 0;
  min-height: 100vh;
  width: 100vw;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #c1f7dc;
  overflow-x: hidden;
  cursor: url(https://cur.cursors-4u.net/nature/nat-10/nat988.cur), auto;
}

a,
button {
  cursor: url(https://cur.cursors-4u.net/nature/nat-10/nat997.cur), auto !important;
}

input,
textarea {
  cursor: url(https://cur.cursors-4u.net/nature/nat-10/nat988.cur), auto;
}

button[disabled] {
  cursor: url(https://cur.cursors-4u.net/nature/nat-10/nat988.cur), auto !important;
}

body.modal-open {
  position: fixed;
  overflow: hidden;
  max-height: 100vh;
}

code {
  font-family: monospace, "SF Mono", SFMono-Regular, ui-monospace,
    "DejaVu Sans Mono", Menlo, Consolas;
}

#root {
  min-height: 100vh;
  max-width: 100vw;
  display: flex;
  flex-direction: column;
}
