.modalOverlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgb(0, 0, 0);
  opacity: 0.6;
  z-index: 2;
  position: fixed;
  transition: all 100ms ease;
}

.modalCard {
  position: fixed;
  background: var(--color-cream);
  border-radius: var(--radius-sm);
  box-shadow: var(--shadow-sm);
  transform: translate(50%, 50%);
  bottom: 50%;
  right: 50%;
  z-index: 3;
  width: min(420px, 88%);
  padding: 1.6rem 2rem;
}

@media (max-width: 767px) {
  .modalOverlay {
    display: none;
  }
  .modalCard {
    transform: none;
    right: 0;
    top: 0;
    left: 0;
    bottom: unset;
    width: 100vw;
    height: 100vh;
    height: 100svh;
    overflow-y: scroll;
    padding: 2rem 2rem;
  }
}
